* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

#full-screen {
  width: 100vw;
  height: 100vh;
}



.horizontal {
  display: flex;
  flex-direction: row;
  flex-basis: 83.34%;
  height: 100%;
}

.box1 {
  flex-basis: 67%;
  background-color: red;
}

section {
  padding: 20px;
  border: 1px;
}

h1 {
  margin-top: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #eee;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  font-weight: bold;
}

.box2 {
  flex-basis: 33%;
  background-color: blue;
}

.vertical {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  height: 100%;
}

.box3 {
  flex-basis: 16.66%;
  background-color: green;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.box4 {
  flex-basis: 83.34%;
  background-color: silver;
}

.box6 {
  display: flex;
  flex-basis: 8.33%;
  background-color: white;
  flex-direction: row;
  height: 100%;
}

.fit-image {
  width: 100%;
  height: auto;
}

#menu-btn, #login-btn, #contact-btn {
  background-color: white; /* sets the background color of the button */
  /*border: none; !* removes the default border of the button *!*/
  color: black; /* sets the text color of the button */
  padding: 10px 20px; /* sets the padding of the button */
  text-align: center; /* centers the text within the button */
  text-decoration: none; /* removes any underline on the text */
  justify-content: center;
  align-items: center;
  transform: translate(50%, 50%); /* centers the button exactly in the middle */
  display: inline-block; /* makes the button an inline-level element */
  font-size: 16px; /* sets the font size of the text */
  border-radius: 5px; /* adds a 5-pixel border radius to the corners of the button */
  cursor: pointer; /* sets the mouse cursor to a pointer when hovering over the button */
  transition: background-color 0.3s ease; /* adds a transition effect to the background color */
  height: 50px;
}

#menu-btn:hover, #login-btn:hover, #contact-btn:hover {
  background-color: silver; /* sets the background color of the button when hovering over it */
}


.box7 {
  display: flex;
  flex-basis: 91.67%;
  background-color: silver;
  flex-direction: row;
  height: 100%;
}

@media (max-width: 767px) {

  .horizontal, .vertical {
    flex-basis: 100%;
  }
  .box1, .box2, .box3, .box4, .box6, .box7 {
    flex-basis: 100%;
    height: 150px;
  }
}
